.approach{
    margin:8rem 2rem;
    position: relative;
}

.approachText > h1{
    z-index: 1;
}

.approachText > h2{
    margin: 1rem 0 1rem 0;
    font-size: 1rem;
    font-weight: 500;
}

.approachText > p{
    margin: 1rem 0 1rem 0;
    font-size: 1rem;
    font-weight: 400;
}

.approachText > h3{
    margin: 1rem 0 3rem 0;
    font-size: 1rem;
    font-weight: 400;
}

.homeImageBg{
    position: absolute;
    right: -2rem !important;
    top: 50%;
    transform: translate(0%, -50%);
    background: #F3EFFF;
    border-radius: 253.5px 0px 0px 253.5px;
    display: flex;
    justify-content: center;
    /* right: -30px !important; */
    width: 50%;

    
}

.homeImageBg img{
    /* display: none; */
    padding: 1.5rem;
    width: 55%;
    margin: 1rem 0;

}
