.approach {
    margin: 8rem 0rem;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.approachText>h1 {
    z-index: 1;
}

.approachText> span > img {
    height: 3.5rem;
    width: 3.5rem;
}
.approachText>h2 {
    margin: 1rem 0 1rem 0;
    font-size: 1.1rem;
    font-weight: 400;
}

.approachText>p {
    margin: 1rem 0 1rem 0;
    font-size: 0.9rem;
    font-weight: 300;
}

.approachText>h3 {
    margin: 1rem 0 3rem 0;
    font-size: 1rem;
    font-weight: 300;
}

/* 
.homeImageBg{
    position: absolute;
    right: -2rem !important;
    top: 50%;
    transform: translate(0%, -50%);
    background: #F3EFFF;
    border-radius: 253.5px 0px 0px 253.5px;
    display: flex;
    justify-content: center;
    /* right: -30px !important;   
} */

.homeImageBg {
    display: flex;
    justify-content: center;
    width: 100%;
}

.homeImageBg img {
    padding: 0rem;
    width: 60%;
    margin: 0rem 0;
    z-index: 1;

}

.purpleBg {
    position: absolute;
    height: 80%;
    width: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    border-radius: 253.5px 0px 0px 253.5px;
    right: 0;

    background-color: #F3EFFF;


}