.blog{
    margin: 5rem 0.5rem 8rem 0.5rem;
}

.blogFont{
    font-size: 2.5rem;
    font-weight: 600;
}

.blogText > h1{
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: black;
    font-size: 2.5rem;
    font-weight: 600;
}

.blogText > h2{
    display: flex;
    /* justify-self: end; */
    align-items:flex-end;
    margin-bottom: 10px;
    margin-left: 5px;
    font-weight: 400;
}